.feature {
  padding-top: 74px;
}
.feature__container {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.feature__list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.feature__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}
.feature__icon {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-antena {
  background-image: url('../images/antenna\ 1.svg');
}
.icon-clock {
  background-image: url('../images/clock\ 1.svg');
}
.icon-diagram {
  background-image: url('../images/diagram\ 1.svg');
}
.icon-astronavt {
  background-image: url('../images/astronaut\ 1.svg');
}
.feature__subtitle {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.feature__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
