:root {
  --primary-text-color: #212121;
  --primary-title-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
  --secondary-white-color: #ffffff;
  --third-white-color: rgba(255, 255, 255, 0.6);
}
